Imports

In [1]:
import pandas as pd

For this project I want to start with loading in a
dataframe that measures the total amount of 
pregnancies and the total amount of births in 
each state in the United States.

In [8]:
df_total = pd.read_csv('data_files/total_pregnancies.csv')
df_total

,measure_name,datum,state_id,state_name,first_year,last_year,footnotes,sources
0,No. of pregnancies ending in birth,10445,AK,Alaska,2017,NaN,NaN,"Maddow-Zimet I and Kost K, <i>Pregnancies, Bir..."
1,No. of pregnancies ending in birth,58941,AL,Alabama,2017,NaN,NaN,"Maddow-Zimet I and Kost K, <i>Pregnancies, Bir..."
2,No. of pregnancies ending in birth,37520,AR,Arkansas,2017,NaN,NaN,"Maddow-Zimet I and Kost K, <i>Pregnancies, Bir..."
3,No. of pregnancies ending in birth,81872,AZ,Arizona,2017,NaN,NaN,"Maddow-Zimet I and Kost K, <i>Pregnancies, Bir..."
4,No. of pregnancies ending in birth,471658,CA,California,2017,NaN,NaN,"Maddow-Zimet I and Kost K, <i>Pregnancies, Bir..."
...,...,...,...,...,...,...,...,...
95,Total no. of pregnancies among women aged 15-44,8040,VT,Vermont,2017,NaN,NaN,"Maddow-Zimet I and Kost K, <i>Pregnancies, Bir..."
96,Total no. of pregnancies among women aged 15-44,124610,WA,Washington,2017,NaN,NaN,"Maddow-Zimet I and Kost K, <i>Pregnancies, Bir..."
97,Total no. of pregnancies among women aged 15-44,86260,WI,Wisconsin,2017,NaN,NaN,"Maddow-Zimet I and Kost K, <i>Pregnancies, Bir..."
98,Total no. of pregnancies among women aged 15-44,25030,WV,West Virginia,2017,NaN,NaN,"Maddow-Zimet I and Kost K, <i>Pregnancies, Bir..."
99,Total no. of pregnancies among women aged 15-44,9080,WY,Wyoming,2017,NaN,NaN,"Maddow-Zimet I and Kost K, <i>Pregnancies, Bir..."